{{template "base" .}}

{{define "content"}}
    <div class="container">
        <h1>Welcome to About Page</h1>
        <p>This is the main content of the home page.</p>
        <p>This came from the template: {{index .StringMap "test"}}</p>
        <p>
            {{if ne (index .StringMap "remote_ip") ""}}
                Your IP address is: {{index .StringMap "remote_ip"}}
            {{else}}
                Could not determine your IP address. Visit <a href="/">Home Page</a> to know your IP.
            {{end}}
        </p>
    </div>
{{end}}
